<nav class="nav nav-pills mb-3">
    <a class="nav-link" routerLink="evaluacion-inicial">Evaluación inicial</a>
    <a class="nav-link" routerLink="diagnostico-funcional">Diagnóstico funcional</a>
    <a class="nav-link" routerLink="plan-intervencion">Plan Intervención</a>
    <a class="nav-link" routerLink="registro-sesiones">Registro sesiones</a>
    <a class="nav-link" routerLink="evaluaciones-periodicas">Evaluaciones periódicas</a>
    <a class="nav-link" routerLink="calendario">Calendario</a>
    <a class="nav-link" routerLink="chat">Chat</a>
</nav>