:host{
    display:block;
    height:100vh;
    background: linear-gradient(135deg,#0077C8,#F28C28);
}
.card{
    border-radius:16px;
}
input.form-control{
    border-color:#F28C28;
}
input.form-control:focus{
    border-color:#0077C8;
    box-shadow: none;
}
button{
    background-color: #0077C8 !important;
    color:white !important;
    border-radius: 8px;
}