<div class="login-container">

  <div class="login-card">

    <h2 class="login-title">Iniciar sesión</h2>

    <form (ngSubmit)="login()">

      <div class="mb-3">
        <label class="form-label">Correo electrónico</label>
        <input type="email"
               class="form-control login-input"
               [(ngModel)]="email"
               name="email"
               required>
      </div>

      <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input type="password"
               class="form-control login-input"
               [(ngModel)]="password"
               name="password"
               required>
      </div>

      @if (error) {
        <div class="alert alert-danger py-2 text-center">
          {{ error }}
        </div>
      }

      <button type="submit" class="btn login-btn w-100 mt-2">
        Entrar
      </button>

    </form>

  </div>

</div>